{{! Previous/next page links - only displayed on page 2+ }}
<!--<div class="extra-pagination inner">
    {{pagination}}
</div>-->

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

        <div class="row">
            <div class="col-lg-2">
                <p class="dates">{{date format="DD"}}<br>{{date format="MMM"}}<br>{{date format="YYYY"}}</p>
            </div>

            <div class="col-lg-8 title">
                <h2><a href="{{url}}">{{title}}</a></h2>
                    {{#author}}
                        <h4>
                            <a href="{{url}}">{{name}}</a>
                        </h4>
                    {{/author}}
            </div>

            <div class="col-lg-2">
                <p class="dates">{{date published_at format="h:hh"}}<br>{{date published_at format="A"}}<br>{{date published_at format="YYYY"}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="post-content">
                    <p>
                        {{content}}

                        <a href="{{url}}">Read more</a>

                    </p>
                </section>
            </div>
        </div>
<hr>

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="pagination">{{pagination}}</div>
